*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
body{
  background-color: rgb(7, 21, 21);
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.container{
  height:fit-content;
  width:fit-content;
  background-color: darkslategrey;
  padding: 20px;
  color: white;
}
.container p{
  font-size:100px;
}
.container button{
  width: 24%;
  height: 30px;
  background-color: rgb(226, 62, 21);
  border: 0;
  border-radius: 5px;
}
ul li{
  list-style-type: none;
  text-align: center;
  font-size: large;
}